/*

    #container
        horizontal flexbox
        flex wrap items
        height 1000px
        width 1000px

    .dynamicDivs
        white background color
        black outline
    
    .hovered
        black background color
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    width: 801px;
    margin-top: 2%;
    margin-bottom: 0.5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    border-style: solid;
    border-width: 0.5px;
}

.dynamicDiv {
    border-style: solid;
    border-width: 0.5px;
    box-sizing: border-box;
}